<div class="main-article-1-container">
    <div class="main-article-1-content">
        <div class="article-header">

            <div class="article-logo article-logo-5"></div>
            <div class="article-heading">{{b.authorName}} in {{b.company}}</div>

        </div>

        <div class="main-article-1-heading">
            {{b.title}}
        </div>
        <div class="main-article-1-brief">
            {{b.titleDescription}}
        </div>
        <div class="main-article-1-date-info">
            {{b.date}} · {{b.time}}
        </div>
    </div>
    <div class="main-article-1-logo" style="background-image: url({{b.img}});"></div>
</div>